extends layout

block content
  iframe(src='/ViewerJS/#../documents/vtk-file-formats.pdf',
         width='800',
         height='600',
         allowfullscreen,
         webkitallowfullscreen)
  iframe(class="doc", src="https://docs.google.com/gview?url=http://writing.engr.psu.edu/workbooks/formal_report_template.doc&embedded=true",
        width='800',
        height='600')